In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import scipy
import math

In [4]:
df_models = pd.read_csv("https://raw.githubusercontent.com/juantoro5/Analitica-para-RH-E7/main/df_models.csv", sep=",")

In [6]:
#Eliminacion de ´retirementType´ y 'resignationReason' ya que arrojan la misma informacion que la variable objetivo
df_models.drop(['retirementType_0','resignationReason_0'],axis=1,inplace=True)

In [7]:
df_models.columns

Index(['Age', 'DistanceFromHome', 'Education', 'JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsSinceLastPromotion',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance',
       'JobInvolvement', 'Attrition', 'AñoRetiro', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'InfoDate_2015-12-31',
       'InfoDate_2016-12-31', 'SurveyDate_2015-12-31', 'SurveyDate_2016-12-31',
       'retirementType_Fired', 'retirementType_Resignation',
       'resignationReason_Others', 'resignationReason_Salary',
       'resignationReason_Stress'],
      dtype='object')

In [8]:
df_models

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,...,MaritalStatus_Single,InfoDate_2015-12-31,InfoDate_2016-12-31,SurveyDate_2015-12-31,SurveyDate_2016-12-31,retirementType_Fired,retirementType_Resignation,resignationReason_Others,resignationReason_Salary,resignationReason_Stress
0,0.785714,0.178571,0.25,0.00,0.637546,0.111111,0.000000,0.000000,0.025,1.000000,...,0,1,0,1,0,0,0,0,0,0
1,0.309524,0.321429,0.00,0.00,0.167457,0.000000,0.857143,0.333333,0.150,0.500000,...,1,1,0,1,0,0,1,1,0,0
2,0.333333,0.571429,0.75,0.75,0.964666,0.111111,0.285714,1.000000,0.125,0.333333,...,0,1,0,1,0,0,0,0,0,0
3,0.476190,0.035714,1.00,0.50,0.385045,0.333333,0.000000,1.000000,0.325,0.833333,...,0,1,0,1,0,0,0,0,0,0
4,0.333333,0.321429,0.00,0.00,0.070195,0.444444,0.071429,0.666667,0.225,0.333333,...,1,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8815,0.571429,0.142857,0.75,0.00,0.264350,0.333333,0.428571,0.333333,0.250,0.833333,...,1,0,1,0,1,0,0,0,0,0
8816,0.261905,0.035714,0.75,0.00,0.087941,0.222222,0.285714,0.000000,0.250,0.333333,...,0,0,1,0,1,0,0,0,0,0
8817,0.166667,0.857143,0.25,0.25,0.141811,0.000000,0.642857,0.000000,0.125,0.666667,...,0,0,1,0,1,0,0,0,0,0
8818,0.571429,0.607143,0.25,0.00,0.073144,0.000000,0.214286,0.333333,0.250,0.333333,...,0,0,1,0,1,0,0,0,0,0
8819,0.523810,0.964286,0.50,0.25,0.234808,0.000000,0.071429,0.000000,NaN,1.000000,...,0,0,1,0,1,0,0,0,0,0